 body {
     font-family: 'Arial', sans-serif;
     background-color: #ffffff;
 }

 .window {
     background-color: #ffffff;
     border-radius: 15px;
     box-shadow: 0 4px 12px rgba(206, 5, 224, 0.1);
     width: 80%;
     max-width: 600px;
     padding: 40px;
     box-sizing: border-box;
     text-align: center;
 }

 h1 {
     font-size: 2.5em;
     color: #333;
 }
